@font-face {
  font-family: Pokemon-Hollow;
  src: url(../src/fonts/Pokemon-Hollow.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: orangered;
  margin: 0;
  font-family: Poke;
}

.card {
  background-color: darkslategray;
}

.h1 {
  font-family: Pokemon-Hollow;
}
