@font-face {
  font-family: Pokemon-Hollow;
  src: url(../src/fonts/Pokemon-Hollow.ttf);
}

@font-face {
  font-family: Pokemon-Solid;
  src: url(../src/fonts/Pokemon-Solid.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(orangered, orange);
  margin: 0;
  font-family: Pokemon-Hollow;
}

.title {
  margin-top: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Pokemon-Solid;
  font-size: 4em;
}

.grid {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  margin: 0 auto;
}

.card {
  background-color: antiquewhite;
  padding: 1em;
  color: #222;
  text-align: center;
}

.card-name {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
}

/* @keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
} */

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin: 2em;
}

.actions button {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
  background-color: rgb(169, 226, 36);
  padding: 0.5rem 1.5rem;
  border: 1px solid #199e14;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #04570b;
  border-color: #0f4b08;
}
